# default of credit card clients Data Set 

In the workshop for this week, you are to select a data set from the [UCI Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/default+of+credit+card+clients) and based on the recommended analysis type, wrangle the data into a fitted model, showing some model evaluation. In particular:

- Layout the data into a dataset X and targets y.
- Choose regression, classification, or clustering and build the best model you can from it. 
- Report an evaluation of the model built
- Visualize aspects of your model (optional)
- Compare and contrast different model families

When complete, I will review your code, so please submit your code via pull-request to the [Introduction to Machine Learning with Scikit-Learn](https://github.com/georgetown-analytics/machine-learning) repository!

## Wheat Kernel Example

Downloaded from the [UCI Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/seeds) on February 26, 2015. The first thing is to fully describe your data in a README file. The dataset description is as follows:

- Data Set: Multivariate
- Attribute: Real
- Tasks: Classification, Clustering
- Instances: 210
- Attributes: 7

### Data Set Information:

The examined group comprised kernels belonging to three different varieties of wheat: Kama, Rosa and Canadian, 70 elements each, randomly selected for the experiment. High quality visualization of the internal kernel structure was detected using a soft X-ray technique. It is non-destructive and considerably cheaper than other more sophisticated imaging techniques like scanning microscopy or laser technology. The images were recorded on 13x18 cm X-ray KODAK plates. Studies were conducted using combine harvested wheat grain originating from experimental fields, explored at the Institute of Agrophysics of the Polish Academy of Sciences in Lublin.

The data set can be used for the tasks of classification and cluster analysis.

### Attribute Information:

Attribute Information:

This research employed a binary variable, default payment (Yes = 1, No = 0), as the response variable. This study reviewed the literature and used the following 23 variables as explanatory variables: 

X1: Amount of the given credit (NT dollar): it includes both the individual consumer credit and his/her family (supplementary) credit. 

X2: Gender (1 = male; 2 = female). 

X3: Education (1 = graduate school; 2 = university; 3 = high school; 4 = others). 

X4: Marital status (1 = married; 2 = single; 3 = others). 

X5: Age (year). 

X6 - X11: History of past payment. We tracked the past monthly payment records (from April to September, 2005) as follows: X6 = the repayment status in September, 2005; X7 = the repayment status in August, 2005; . . .;X11 = the repayment status in April, 2005. The measurement scale for the repayment status is: -1 = pay duly; 1 = payment delay for one month; 2 = payment delay for two months; . . .; 8 = payment delay for eight months; 9 = payment delay for nine months and above. 

X12-X17: Amount of bill statement (NT dollar). X12 = amount of bill statement in September, 2005; X13 = amount of bill statement in August, 2005; . . .; X17 = amount of bill statement in April, 2005. 
X18-X23: Amount of previous payment (NT dollar). X18 = amount paid in September, 2005; X19 = amount paid in August, 2005; . . .;X23 = amount paid in April, 2005. 


### Relevant Papers:


## Data Exploration 

In this section we will begin to explore the dataset to determine relevant information.

In [1]:
%matplotlib inline

import os
import json
import time
import pickle
import requests


import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#data = pd.read_csv('~/machine-learning/data/default/dataset.csv')

data = pd.read_csv('~/Documents/machine-learning/data/default/dataset.csv')

In [3]:
data.head()

,Unnamed: 0,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
1,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
2,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0

In [4]:
data.iloc[0]
df = data

new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df =df.rename(columns = new_header) #set the header row as the df header

In [5]:
#this forces all of the columns to become numeric

for c in df.columns:
        df[c] = pd.to_numeric(df[c], errors='coerce')

In [6]:

# Describe the dataset
print(df.describe())
df.info()

                 ID       LIMIT_BAL           SEX     EDUCATION      MARRIAGE  \
count  30000.000000    30000.000000  30000.000000  30000.000000  30000.000000
mean   15000.500000   167484.322667      1.603733      1.853133      1.551867
std     8660.398374   129747.661567      0.489129      0.790349      0.521970
min        1.000000    10000.000000      1.000000      0.000000      0.000000
25%     7500.750000    50000.000000      1.000000      1.000000      1.000000
50%    15000.500000   140000.000000      2.000000      2.000000      2.000000
75%    22500.250000   240000.000000      2.000000      2.000000      2.000000
max    30000.000000  1000000.000000      2.000000      6.000000      3.000000

                AGE         PAY_0         PAY_2         PAY_3         PAY_4  \
count  30000.000000  30000.000000  30000.000000  30000.000000  30000.000000
mean      35.485500     -0.016700     -0.133767     -0.166200     -0.220667
std        9.217904      1.123802      1.197186      1.196868      1.169139
min       21.000000     -2.000000     -2.000000     -2.000000     -2.000000
25%       28.000000     -1.000000     -1.000000     -1.000000     -1.000000
50%       34.000000      0.000000      0.000000      0.000000      0.000000
75%       41.000000      0.000000      0.000000      0.000000      0.000000
max       79.000000      8.000000      8.000000      8.000000      8.000000

                  ...                  BILL_AMT4      BILL_AMT5  \
count             ...               30000.000000   30000.000000
mean              ...               43262.948967   40311.400967
std               ...               64332.856134   60797.155770
min               ...             -170000.000000  -81334.000000
25%               ...                2326.750000    1763.000000
50%               ...               19052.000000   18104.500000
75%               ...               54506.000000   50190.500000
max               ...              891586.000000  927171.000000

           BILL_AMT6       PAY_AMT1      PAY_AMT2      PAY_AMT3  \
count   30000.000000   30000.000000  3.000000e+04   30000.00000
mean    38871.760400    5663.580500  5.921163e+03    5225.68150
std     59554.107537   16563.280354  2.304087e+04   17606.96147
min   -339603.000000       0.000000  0.000000e+00       0.00000
25%      1256.000000    1000.000000  8.330000e+02     390.00000
50%     17071.000000    2100.000000  2.009000e+03    1800.00000
75%     49198.250000    5006.000000  5.000000e+03    4505.00000
max    961664.000000  873552.000000  1.684259e+06  896040.00000

            PAY_AMT4       PAY_AMT5       PAY_AMT6  default payment next month
count   30000.000000   30000.000000   30000.000000                30000.000000
mean     4826.076867    4799.387633    5215.502567                    0.221200
std     15666.159744   15278.305679   17777.465775                    0.415062
min         0.000000       0.000000       0.000000                    0.000000
25%       296.000000     252.500000     117.750000                    0.000000
50%      1500.000000    1500.000000    1500.000000                    0.000000
75%      4013.250000    4031.500000    4000.000000                    0.000000
max    621000.000000  426529.000000  528666.000000                    1.000000

[8 rows x 25 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 1 to 30000
Data columns (total 25 columns):
ID                            30000 non-null int64
LIMIT_BAL                     30000 non-null int64
SEX                           30000 non-null int64
EDUCATION                     30000 non-null int64
MARRIAGE                      30000 non-null int64
AGE                           30000 non-null int64
PAY_0                         30000 non-null int64
PAY_2                         30000 non-null int64
PAY_3                         30000 non-null int64
PAY_4                         30000 non-null int64
PAY_5                         30000 non-null int64
PAY_6                         30000 non-null int64
BILL_AMT1                     30000 non-null int64
BILL_AMT2                     30000 non-null int64
BILL_AMT3                     30000 non-null int64
BILL_AMT4                     30000 non-null int64
BILL_AMT5                     30000 non-null int64
BILL_AMT6                     30000 non-null int64
PAY_AMT1                      30000 non-null int64
PAY_AMT2                      30000 non-null int64
PAY_AMT3                      30000 non-null int64
PAY_AMT4                      30000 non-null int64
PAY_AMT5                      30000 non-null int64
PAY_AMT6                      30000 non-null int64
default payment next month    30000 non-null int64
dtypes: int64(25)
memory usage: 5.7 MB

In [7]:
#changing this so it is easier to work with

df.columns =['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'Default']

In [8]:
from sklearn import metrics
from sklearn import cross_validation
from sklearn.cross_validation import KFold
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

C:\Users\eobrien\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [9]:
feature_cols = ['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']

In [10]:
X = df[feature_cols]

In [11]:
y = df.Default

In [12]:
import matplotlib.pyplot as plt

In [13]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split as tts
from sklearn import metrics
from sklearn import cross_validation
from sklearn.cross_validation import KFold

from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

In [14]:
estimator = RandomForestClassifier()

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [16]:
for train, test in KFold(len(X), n_folds=12, shuffle=True):
        X_train, X_test = X.iloc[train], X.iloc[test]
        y_train, y_test = y.iloc[train], y.iloc[test]   
        estimator

In [17]:
df.iloc[test]

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,Default
2,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
7,7,500000,1,1,2,29,0,0,0,0,...,542653,483003,473944,55000,40000,38000,20239,13750,13770,0
31,31,230000,2,1,2,27,-1,-1,-1,-1,...,15339,14307,36923,17270,13281,15339,14307,37292,0,0
35,35,500000,1,1,1,58,-2,-2,-2,-2,...,3180,0,5293,5006,31178,3180,0,5293,768,0
40,40,280000,1,1,2,31,-1,-1,2,-1,...,9976,17976,9477,9075,0,9976,8000,9525,781,0
54,54,180000,2,1,2,25,1,2,0,0,...,43510,44420,45319,1300,2010,1762,1762,1790,1622,0
55,55,150000,2,1,2,29,2,0,0,0,...,26518,21042,16540,1600,1718,1049,1500,2000,5000,0
66,66,200000,1,1,1,57,-2,-2,-2,-1,...,8174,8198,7918,0,0,8222,300,0,1000,1
71,71,80000,1,1,2,31,-1,-1,-1,-1,...,390,390,390,0,390,390,390,390,390,0
105,105,60000,2,2,2,26,2,2,2,2,...,60218,55447,55305,0,5000,2511,6,3000,3000,0
106,106,70000,2,2,2,24,-1,-1,-2,-2,...,0,0,26529,0,0,0,0,26529,2000,0
109,109,130000,1,2,2,38,0,0,0,-1,...,120483,44127,126568,10908,0,133657,4566,133841,4796,0
115,115,50000,1,2,2,41,0,0,0,0,...,20274,20311,19957,1340,1305,700,718,724,684,0
131,131,30000,2,1,2,23,1,-2,-2,-2,...,-27,13744,5906,5645,3508,27,13771,5911,3024,0
139,139,50000,2,3,1,51,-1,-1,-1,-1,...,0,0,0,300,5880,0,0,0,0,1
143,143,50000,1,2,2,23,1,2,2,2,...,19996,19879,18065,1000,10000,400,700,800,600,0
145,145,20000,1,1,2,29,-1,-1,-1,-1,...,2340,6702,339,15586,344,2340,4702,339,330,0
148,148,200000,1,1,2,34,1,2,0,0,...,135668,132233,59875,8000,5000,55500,5000,5000,8500,0
155,155,30000,2,3,2,26,0,0,0,0,...,11935,13084,14206,1700,1500,1000,1500,1500,1500,0
160,160,50000,1,3,1,57,3,2,0,0,...,13427,13711,14083,0,1600,500,500,600,600,0
164,164,250000,2,1,1,34,0,0,2,0,...,152803,155997,160220,17994,0,5469,5656,6811,3920,0
172,172,300000,2,1,2,30,-1,-1,-1,-1,...,4340,2672,800,3288,0,4340,2672,800,746,0
218,218,80000,1,2,2,36,2,0,0,0,...,80016,76235,78245,3100,3500,3400,3000,3500,3000,0
222,222,330000,2,3,2,45,0,0,0,0,...,333860,335760,330121,12388,12378,12116,12450,12213,11678,0
225,225,50000,2,3,2,37,1,3,2,0,...,30394,30249,29957,0,24,1500,1000,1201,30592,1
228,228,20000,1,2,1,37,0,0,0,0,...,18768,18650,19175,1609,3000,663,676,834,782,0
231,231,50000,2,1,2,24,0,0,0,0,...,19420,10385,1308,2090,2002,1002,238,1011,389,0
235,235,60000,2,2,1,33,0,0,0,0,...,20694,20175,19421,1506,1298,1000,721,811,599,0
280,280,250000,2,2,1,31,0,0,0,0,...,99029,100871,101299,4000,4500,5000,4000,5000,4400,0
301,301,100000,1,2,2,37,0,0,0,0,...,66926,66796,64513,3490,2332,2314,2365,2497,2305,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29606,29606,500000,1,1,1,37,0,0,2,0,...,430637,376657,356636,40024,325,15296,12137,12312,14113,0
29639,29639,340000,1,2,2,30,0,0,0,0,...,172862,171353,170048,8100,8000,6102,6628,6517,4500,1
29640,29640,220000,1,1,2,32,-1,-1,-1,-1,...,3392,1421,915,4217,2907,3397,1421,915,906,0
29644,29644,200000,1,1,2,30,3,2,2,-1,...,560,558,558,0,0,560,558,0,0,1
29648,29648,80000,1,2,2,29,-1,-1,-1,0,...,68040,69840,69840,0,68227,2000,2000,0,0,0
29654,29654,60000,1,3,1,42,0,0,0,0,...,22360,19760,0,1336,1542,1200,500,0,0,0
29655,29655,30000,1,2,1,48,0,0,0,0,...,25571,40188,27544,3006,3000,2000,3000,8150,2000,1
29672,29672,20000,1,1,2,37,0,0,0,0,...,17322,18319,19297,2000,2000,2000,2000,2000,2000,0
29693,29693,250000,1,1,2,29,0,0,0,0,...,145876,100971,50333,10022,7004,5414,2500,1010,48440,0
29734,29734,300000,1,2,1,37,-2,-2,-1,-1,...,33999,24985,25743,12165,6252,34042,66,14062,3081,0
29741,29741,620000,1,2,2,31,-2,-2,-2,-2,...,13846,3565,7076,11881,21171,13915,3583,7111,1971,0
29760,29760,10000,1,1,1,48,1,2,0,0,...,9000,9000,0,0,2000,2000,0,0,0,0
29764,29764,80000,1,2,1,32,0,0,0,0,...,80567,59560,40390,3000,3300,2602,1800,1432,1520,0
29800,29800,20000,1,2,2,33,3,2,8,7,...,21631,21026,20130,8000,0,0,0,0,0,1
29823,29823,100000,1,2,1,46,0,0,-1,-1,...,2200,0,0,2036,1504,2506,0,0,0,0
29842,29842,320000,1,1,1,47,0,0,0,0,...,124565,89699,62805,20000,15000,10000,22500,20000,20000,0
29856,29856,80000,1,3,2,44,1,2,0,0,...,58992,62696,64148,0,2800,2200,4700,2600,0,0
29862,29862,650000,1,1,1,44,-2,-2,-2,-2,...,7139,1034,2127,5115,5180,7201,1035,2139,3463,0
29879,29879,340000,1,3,1,36,0,0,0,0,...,75710,63870,52671,10116,3300,5000,10000,10000,30000,1
29912,29912,210000,1,2,1,31,-1,-1,-1,-1,...,326,652,326,326,326,326,652,0,326,1
29914,29914,230000,1,1,2,34,-1,-1,0,0,...,66006,47412,29290,25748,30029,27417,1016,640,260,0
29921,29921,50000,1,5,1,45,2,0,0,0,...,50947,51020,0,3000,3428,2002,1023,0,0,1
29923,29923,150000,1,2,1,35,1,-2,-2,-2,...,-18,-18,-18,0,0,0,0,0,0,0
29933,29933,160000,1,3,1,42,2,0,0,0,...,130023,98604,101650,6000,5500,5000,3000,4000,3000,1
29938,29938,320000,1,1,1,44,-2,-2,-2,-2,...,2975,2029,888,6818,13482,2975,2029,888,1332,0
29939,29939,30000,1,2,2,38,2,2,2,2,...,21471,21598,23241,1700,1700,0,782,2000,1100,0
29960,29960,290000,1,1,2,32,-1,-1,-1,-1,...,35379,18711,3110,1575,108168,35811,18711,0,157,0
29966,29966,140000,1,2,1,32,0,0,0,0,...,137450,135638,136375,6300,6500,6300,6000,5200,5000,0
29993,29993,10000,1,3,1,43,0,0,0,-2,...,0,0,0,2000,0,0,0,0,0,0
30000,30000,50000,1,2,1,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [19]:
label = "default data credit card random forest"
start  = time.time() # Start the clock! 
scores = {'precision':[], 'recall':[], 'accuracy':[], 'f1':[]}
    
for train, test in KFold(len(X), n_folds=12, shuffle=True):
    X_train, X_test = X.iloc[train], X.iloc[test]
    y_train, y_test = y.iloc[train], y.iloc[test] 
        
estimator = RandomForestClassifier()
estimator.fit(X_train, y_train)
        
expected  = y_test
predicted = estimator.predict(X_test)
        
# Append our scores to the tracker
scores['precision'].append(metrics.precision_score(expected, predicted, average="weighted"))
scores['recall'].append(metrics.recall_score(expected, predicted, average="weighted"))
scores['accuracy'].append(metrics.accuracy_score(expected, predicted))
scores['f1'].append(metrics.f1_score(expected, predicted, average="weighted"))

# Report
print("Build and Validation of {} took {:0.3f} seconds".format(label, time.time()-start))
print("Validation scores are as follows:\n")
print(pd.DataFrame(scores).mean())
    
# Write official estimator to disk
estimator = RandomForestClassifier()
estimator.fit(X, y)
    
outpath = label.lower().replace(" ", "-") + ".pickle"
with open(outpath, 'wb') as f:
    pickle.dump(estimator, f)

#print("\nFitted model written to:\n{}".format(os.path.abspath(outpath)))

Build and Validation of default data credit card random forest took 1.222 seconds
Validation scores are as follows:

accuracy     0.812800
f1           0.788336
precision    0.792421
recall       0.812800
dtype: float64

In [19]:
label = "default data credit card SVC"
start  = time.time() # Start the clock! 
scores = {'precision':[], 'recall':[], 'accuracy':[], 'f1':[]}
    
for train, test in KFold(len(X), n_folds=12, shuffle=True):
    X_train, X_test = X.iloc[train], X.iloc[test]
    y_train, y_test = y.iloc[train], y.iloc[test] 
        
estimator = SVC()
estimator.fit(X_train, y_train)
        
expected  = y_test
predicted = estimator.predict(X_test)
        
# Append our scores to the tracker
scores['precision'].append(metrics.precision_score(expected, predicted, average="weighted"))
scores['recall'].append(metrics.recall_score(expected, predicted, average="weighted"))
scores['accuracy'].append(metrics.accuracy_score(expected, predicted))
scores['f1'].append(metrics.f1_score(expected, predicted, average="weighted"))

# Report
print("Build and Validation of {} took {:0.3f} seconds".format(label, time.time()-start))
print("Validation scores are as follows:\n")
print(pd.DataFrame(scores).mean())
    
    
    
#outpath = label.lower().replace(" ", "-") + ".pickle"
#with open(outpath, 'wb') as f:
#    pickle.dump(estimator, f)

#print("\nFitted model written to:\n{}".format(os.path.abspath(outpath)))

Build and Validation of default data credit card SVC took 243.370 seconds
Validation scores are as follows:

accuracy     0.774400
f1           0.675942
precision    0.599695
recall       0.774400
dtype: float64

C:\Users\eobrien\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1113: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\eobrien\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1113: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [ ]:
label = "default data credit card KNNclassifer "
start  = time.time() # Start the clock! 
scores = {'precision':[], 'recall':[], 'accuracy':[], 'f1':[]}
    
for train, test in KFold(len(X), n_folds=12, shuffle=True):
    X_train, X_test = X.iloc[train], X.iloc[test]
    y_train, y_test = y.iloc[train], y.iloc[test] 
        
estimator = KNeighborsClassifier(n_neighbors=12)
estimator.fit(X_train, y_train)
        
expected  = y_test
predicted = estimator.predict(X_test)
        
# Append our scores to the tracker
scores['precision'].append(metrics.precision_score(expected, predicted, average="weighted"))
scores['recall'].append(metrics.recall_score(expected, predicted, average="weighted"))
scores['accuracy'].append(metrics.accuracy_score(expected, predicted))
scores['f1'].append(metrics.f1_score(expected, predicted, average="weighted"))

# Report
print("Build and Validation of {} took {:0.3f} seconds".format(label, time.time()-start))
print("Validation scores are as follows:\n")
print(pd.DataFrame(scores).mean())
    
    
    
#outpath = label.lower().replace(" ", "-") + ".pickle"
#with open(outpath, 'wb') as f:
#    pickle.dump(estimator, f)

#print("\nFitted model written to:\n{}".format(os.path.abspath(outpath)))

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
1,1,20000,2,2,1,24,2,2,-1,-1,...,689,0,0,0,0,689,0,0,0,0
2,2,120000,2,2,2,26,-1,2,0,0,...,2682,3272,3455,3261,0,1000,1000,1000,0,2000
3,3,90000,2,2,2,34,0,0,0,0,...,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000
4,4,50000,2,2,1,37,0,0,0,0,...,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000
5,5,50000,1,2,1,57,-1,0,-1,0,...,35835,20940,19146,19131,2000,36681,10000,9000,689,679

In [ ]:
# Write official estimator to disk
    estimator = model(**kwargs)
    estimator.fit(X, y)

In [ ]:
estimator.fit(X_train, y_train)

In [ ]:
estimator.score(X_train,y_train)

In [ ]:
estimator.fit(X_train,y_train)

In [ ]:
y_preds = estimator.predict(X_test)